body{
    background-color: #E8D8C4;
}


.table{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    background-color: #561C24;
    gap: 10px 10px;
    width: 470px;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;  
}

.cell{
    background-color: #C7B7A3;
    border-radius: 20px;
    text-align: center;
    font-size: 130px;
    color: #6D2932;
    cursor: pointer;
}

.title{
    color: #561C24;
    font-size: 70px;
}

.button{
    background-color: #561C24;
    color: #C7B7A3;
    height: 70px;
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}